*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    font-size: 62.5%;
}


/* ---------------- BARRA DE NAVEGACION ----------------*/

header{
  width: 100%;
  height: 100%;
  background-color: #1e2022;
}

.menu{
  background-color: #1e2022;
}

#btn-menu{
  display: none;
}

.label-menu{
  display: none;
  width: 46px;
  height: 46px;
  padding: 12px;
  cursor: pointer;
}

.label-menu:hover{
  background-color: rgba(0,0,0,0.5);
}

.icon-menu{
  font-size: 2em;
  color: white;
}



.menu ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.menu li a{
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 1.4em;
}

.pregunta__bold{
  font-weight: bold;
}

.menu li{
  transition: all 0.2s;
}

.menu li:hover{
  background-color: rgba(0,0,0,0.4);
}

.logo{
  position: absolute;
  width: 50px;
  height: 48px;
  top: 0px;
  left: 5px;
  transition: all 0.4s;
}

.logo:hover {
  transform: rotate(15deg);
}

/*---------------- PAGINA PRINCIPAL (INDEX) ----------------*/

.articulo{
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.articulo h1{
  text-align: center;
  font-size: 4.5em;
  margin: 3% 5%;
  letter-spacing: 2px;
}

.portada{
  width: 100%;
  max-width: 1200px;
  max-height: 800px;
  position: relative;
  margin-bottom: 2%;
  overflow: hidden;
}

.portada img{
  width: 100%;
}

.texto-arriba{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px 15px;
  text-align: center;
  color: white;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  overflow: hidden;
}

.texto-arriba h2{
  font-size: 3em;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.texto-arriba p{
  font-size: 1.8em;
}

.texto-arriba a{
  color: white;
  display: block;
  margin: 20px auto;
  padding: 15px;
  width: 180px;
  border: solid 2px white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s;
  font-size: 1.4em;
}

.texto-arriba a:hover{
  color: black;
  background-color: white;
}

.contenedor-general{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenedor-seccion{
  width: 31%;
  margin-bottom: 2%;
  position: relative;
  overflow: hidden;
}

.imagen-30{
  width: 100%;
  transition: all 0.5s;
}

.texto-seccion{
  position: absolute;
  bottom: 0;
  padding: 15px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  transform: translateY(100%);
  transition: all 0.5s;
}

.texto-seccion h2{
  font-size: 2em;
}

.texto-seccion p{
  font-size: 1.6em;
}

.contenedor-seccion:hover .texto-seccion{
  transform: translateY(0);
}

.contenedor-seccion:hover .imagen-30{
  transform: scale(1.15);
}


/*---------------- FORMULARIO DE REGISTRO e INGRESO ----------------*/

.articulo-centrar{
  align-self: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-registro, .form-ingreso{
  width: 90%;
  max-width: 480px;
  margin: auto;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0px 2px 2px 2px rgb(212, 209, 205);
}

.registrarme, .ingresa{
  background-color: #1e2022;
  color: white;
  padding: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 2.5em;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-bottom: 15px;
}

.contenedor-inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-48{
  width: 48%;
}

.input-100{
  width: 100%;
}

input{
  margin-bottom: 15px;
  padding:10px;
  border: 0;
  border-bottom: solid 1px rgb(200, 204, 204);
}

input:focus{
  outline: none;
  border-bottom: solid 1px #1e2022;
}

.btn-registrarme, .btn-ingresar{
  background-color: #1e2022;
  color: white;
  margin: 5px auto;
  padding: 10px 40px;
}

.btn-registrarme, .btn-ingresar:hover{
  cursor: pointer;
}

.form-link{
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.3em;
  color: #52616b;
}

.form-link a{
  color: #1e2022;
}

/*---------------- FORMULARIO DE INGRESO ----------------*/

.input-10{
  width: 10%;
  text-align: right;
  margin-top: 7px;
}

.input-90{
  width: 90%;
  text-align: left;
  margin-right: 0;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.3em;
  color: #52616b;
}


/* ---------------- PREGUNTAS FRECUENTES ----------------*/

.acordeon input{
  display: none;
}

.acordeon{
  width: 50%;
}

.acordeon__titulo{
  display: block;
  padding: 15px;
  background-color: #1e2022;
  opacity: 0.3;
  color: white;
  font-size: 2em;
  border-bottom: solid 1px white;
  text-align: center;
  transition: all 0.4s;
}

.acordeon__titulo:hover{
opacity: 1;
cursor: help;
}

.acordeon__contenido{
  height: 0;
  overflow: hidden;
  text-align: justify;
  transition: all 0.5s;
  line-height: 1.5;
  font-size: 1.5em;
}

.acordeon input:checked ~ .acordeon__contenido{
  height: auto;
  margin: 15px 0;
}



/*---------------- FOOTER ----------------*/

footer{
align-self: flex-end;
width: 100%;
padding: 1em;
text-align: center;
}

footer a{
  color: rgb(164, 164, 164);
  text-decoration: none;
  display: inline-block;
  height: 10px;
  margin: 0px 20px;
  padding: 2px;
  box-sizing: border-box;
  font-size: 1.6em;
}

footer a:hover{
  color: #1e2022;
}



/* ----------------RESPONSIVE ----------------*/

/* ---- de 1042 px para abajo ----*/
@media (max-width: 1042px) {

.texto-seccion h2{
  font-size: 1.8em;
}

.texto-seccion p{
  font-size: 1.4em;
}



/* ---- de 768 px para abajo ----*/
@media (max-width: 768px) {
  .contenedor-seccion{
    width: 48%;
  }

  .texto-seccion h2{
    font-size: 1.9em;
  }

  .texto-seccion p{
    font-size: 1.5em;
  }

  .acordeon{
    width: 70%;
  }

  .texto-arriba h2{
    font-size: 2em;
  }

  .texto-arriba p{
    font-size: 1.4em;
  }

  .texto-arriba a{
    font-size: 1.2em;
    margin: 18px auto;
    padding: 12px;
    width: 140px;
  }

}

/* ---- de 650px para abajo ----*/
@media (max-width: 650px) {
  .contenedor-seccion{
    width: 100%;
  }

  .texto-seccion h2{
    font-size: 2em;
  }

  .texto-seccion p{
    font-size: 1.8em;
  }
}


/* ---- de 450px para abajo ----*/
@media (max-width: 450px) {
  .label-menu{
    display: block;
  }

  .menu{
    position: absolute;
    background-color: #1e2022;
    width: 70%;
    margin-left: -70%;
    transition: all 0.5s;
    z-index: 100;
  }
  .menu ul{
    flex-direction: column;
  }
  .menu li{
    border-top: solid 1px #ecf0f1;
  }
  #btn-menu:checked ~ .menu{
    margin: 0;
  }

  .portada{
  display: none;
  }

  .acordeon{
    width: 90%;
  }

  .logo{
    position: absolute;
    width: 50px;
    height: 48px;
    top: 0px;
    left: 45%;
  }
}

/* ---- de 320px para abajo ----*/
@media (max-width: 320px) {


  .texto-seccion h2{
    font-size: 1.8em;
  }

  .texto-seccion p{
    font-size: 1.4em;
  }
}
